<launch>
    <!-- 启动雷达 -->
    <include file="$(find rplidar_ros)/launch/rplidar.launch" /> 
    <!-- 加载机器人模型参数 -->
    <node name="foot2base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 /base_footprint /base_link 50"/> 
    <node name="base2laser" pkg="tf" type="static_transform_publisher" args="0.18 0 0.01 0 0 1 0 /base_link /laser 50"/>
    <node name="base2camera" pkg="tf" type="static_transform_publisher" args="0.13 0 0 0 0 0 1 /base_link /camera_link 50"/>
    <include file="$(find yocs_velocity_smoother)/launch/my_cmd.launch" />
    <node name="robot_bringup" pkg="robot_bringup" type="disable_bringup">
        <remap from="cmd_vel" to="xl_cmd_vel"/>
    </node>
    <!-- 启动IMU -->
    <node pkg="wt931" type="main_cpp" name="main_cpp">
        <param name="serialport_name" value="/dev/imu" type="string"/>
        <param name="baudrate" value="115200" type="int"/>
        <param name="pub_topic_name" value="pub_topic_name" type="string"/>
    </node>
    <include file="$(find robot_bringup)/launch/robot_pose_ekf.launch" /> 
</launch>